<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment2.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBase\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Assignment2.Properties.Settings.BookConnectionString"
            connectionString="Data Source=DESKTOP-EJFE3EN\SQLEXPRESS;Initial Catalog=Book;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>